.mainview-pet {
  width: 24.5%;
  margin-bottom: 10px;

  .MuiCard-root {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
    position: relative;

    .MuiCardHeader-root {
      position: absolute;
      text-align: center;
      padding: 0;
    }

    .MuiCardMedia-media {
      max-width: 100%;
      position: absolute;
      top: 50px;
      height: 125px;
    }

    .mid-content {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 175px;
    }

    .MuiCollapse-container {
      width: 100%;
    }

    .MuiCardActions-root {
      margin-bottom: 10px;
      height: 10%;
      margin-left: auto;
    }

    .bottom-card {
      position: absolute;
      top: 230px;
      display: flex;
      width: 100%;

      button {
        align-self: flex-end;
      }
    }
  }
}
